<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipeApp | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}" />

</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'recipes:home' %}" title="Home">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#f76c01">
                        <path
                            d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                    </svg>

                </a>
            </li>
            <li>
                <a href="{% url 'recipes:list' %}" title="Recipes">Recipes</a>
            </li>
            <li><a href="{% url 'search' %}">Search</a></li>
            <li>
                <a href="{% url 'recipes:add_recipe' %}" title="Add Recipe">Add Recipe</a>
            </li>
            <li>
                <a href="{% url 'recipes:about' %}" title="About">About</a>
            </li>
            <li>
                <a href="{% url 'recipes:logout' %}" title="Logout">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#f76c01">
                        <path
                            d="M200-120q-33 0-56.5-23.5T120-200v-160h80v160h560v-560H200v160h-80v-160q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm220-160-56-58 102-102H120v-80h346L364-622l56-58 200 200-200 200Z" />
                    </svg>

                </a>
            </li>
        </ul>
    </nav>
    <div class="about-container">
        <h3>Connect with me on:</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/julia-atamas/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/aeueoe" target="_blank">GitHub</a></li>
            <li><a href="https://atamas-portfolio.vercel.app/" target="_blank">Portfolio</a></li>
        </ul>
    </div>
</body>

</html>