<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipeApp | Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}" />
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/bg2.jpg' %}") no-repeat fixed;
            background-size: cover;

        }
    </style>
</head>

<body>
<nav>
    <ul class=" nav-links">
        <li><a href="{% url 'recipes:list' %}">Home</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        <li><a href="{% url 'recipes:about' %}">About</a></li>
        <li><a href="{% url 'recipes:logout' %}">Logout</a></li>
    </ul>
</nav>
    <div class="wrapper">
        <div class="recipe-image">
            <img src="{{ MEDIA_URL }}{{ object.pic.url }}" alt="{{ object.name }}" />
        </div>
        <div class="recipe-details">
            <h2>{{ object.name }}</h2>
            <div class="recipe-info">
                <b>Cooking Time (min): </b> {{ object.cooking_time|floatformat:0 }} <br />
                <b>Difficulty: </b> {{ object.difficulty }} <br />
            </div>
            <div class="recipe-description">
                <b>Ingredients: </b> {{ object.ingredients }} <br />
                <b>Description: </b> {{ object.description }} <br />
            </div>
        </div>
    </div>
</body>

</html>