<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipeApp | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}" />
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/bg.jpg' %}") no-repeat fixed;
            background-size: cover;

        }
    </style>
</head>

<body>
    <div class="container">
        <div class="hero">
            <h1>Welcome to RecipeApp</h1>
            <h2>Discover new recipes and cooking inspiration</h2>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </div>
    </div>
</body>

</html>