<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipeApp | Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}" />
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/bg2.jpg' %}") no-repeat fixed;
            background-size: cover;

        }
    </style>
</head>

<body>
    <nav>
        <ul class=" nav-links">
            <li><a href="{% url 'recipes:list' %}">Home</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'recipes:about' %}">About</a></li>
            <li><a href="{% url 'recipes:logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <h1>Search for Recipes</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-action" type="submit">Search</button>
        </form>
        {% if recipes %}
        <h3>Search Results</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cooking Time</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></td>
                    <td>{{ recipe.cooking_time }}</td>
                    <td>{{ recipe.calculated_difficulty }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <img alt="chart" src="data:image/png;base64,{{ chart|safe }}" />
        {% else %}
        <h3>No Data Available</h3>
        {% endif %}
    </div>
</body>

</html>